.card {
  max-width: 500px; /* ou o tamanho que preferir */
  max-height: auto;
  border-radius: 12px;
  overflow: hidden; /* Garante que a imagem não extrapole o card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card-image {
  width: 100%;
  height: auto; /* Ajusta a imagem para ocupar toda a largura do card */
  border-radius: inherit; /* Herdará o border-radius do card */
}

.card-content {
  padding: 16px;
}

.c-plantech {
  margin: auto; /* Centraliza o card dentro da coluna */
}

.c-smart {
  margin: auto; /* Centraliza o card dentro da coluna */
}

.text-start {
  margin-left: 3rem;
  margin-right: 3rem;
}
