<div class="container">

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/beatriz-pedro-167695238" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/biarhaissem" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://biarhäissem.hearnow.com" target="_blank">
      <i class="fab fa-spotify"></i>
    </a>
  </div>

   <div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">Dashboard Gerencial</p>
    <p class="fs-3">Análise de Dados com Power BI</p>
    <p class="fs-4">Dashboard Gerencial para monitoração de fábrica de roupas.</p>
  <p class="fs-5">
<p class="fs-2 pt-1"></p>

    <div class="row align-items-center">
      <!-- Container da Imagem -->
      <div class="d-flex justify-content-center">
      <div class="image-container">
        <img src="assets/images/dashbi.png" class="img-fluid rounded static-image" alt="cupcake morango"
        (click)="expandImage('assets/images/dashfig.png')"> <!-- Clique para expandir a imagem -->
      </div>
      </div>
    </div>
    <p class="fs-2 pt-1"></p>

<div class="text-start">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-3 fw-bolder pt-3">Desafio & Objetivo</p>
<div class="fs-5">
  <div class="fs-4">
    <p>O objetivo deste desafio era a criação de um dashboard gerencial para análise de dados fornecidos de uma fábrica de roupas fictícia.</p>
    <p>O desafio englobava a identificação de gargalos operacionais, performance e oportunidades de melhoria.</p>
    <p>Os filtros exigidos eram: Data, Depto e Equipe.</p>
    <p>KPI: Produção Real, Meta, Desvio, Ociosidade e Incentivo.</p>
  </div>
</div>
</div>

  <div class="text-start">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-3 fw-bolder pt-3">01. Data Cleansing</p>
  <div class="fs-5">
    <div class="fs-4">
      <p>A partir dos dados disponibilizados em Excel, foram identificados os erros e inconsistências para realizar a análise adequadamente.</p>
      <p>Essa etapa é muito importante pois somente com dados confiáveis podemos fazer uma análise correta.</p>
      <p>Utilizei o Power Query, do Power BI, para facilitar as correções e abri o arquivo para iniciar a criação das fórmulas.</p>
    </div>
  </div>
  </div>

  <div class="row align-items-center pt-4">
    <!-- Imagem 1 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/pq.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/powerquery.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>

    <!-- Imagem 2 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/pb1.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/powerbi1.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>
  </div>
  <p class="fs-2 pt-1"></p>

  <div class="text-start">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-3 fw-bolder pt-3">02. Fórmulas DAX</p>
  <div class="fs-5">
    <div class="fs-4">
      <p>A criação das fórmulas, utilizando DAX, foi a etapa seguinte do projeto.</p>
      <p>Nessa etapa, é necessário levar em consideração quais os pontos mais importantes que devem ser analisados para a organização lógica do projeto.</p>
      <p>Após criarmos as fórmulas, inicia-se a criação do layout e a escolha de quais tipos de gráficos utilizaremos para que a compreensão dos dados fique intuitiva e agradável.</p>
    </div>
  </div>
  </div>

  <div class="row align-items-center pt-4">
    <!-- Imagem 1 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/daxgold.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/formdaxfig.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>

    <!-- Imagem 2 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/bi2gold.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/pb2.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>
  </div>
  <p class="fs-2 pt-1"></p>

<div class="text-start">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-3 fw-bolder pt-3">03. Design do Dashboard</p>
<div class="fs-4">
    <p>A etapa de Design do Dashboard é o momento em que a lógica encontra a criatividade.</p>
    <p>Para buscar inspiração, vale a pena pesquisar exemplos disponíveis na internet para encontrar um possível caminho.</p>
    <p>Existem inúmeras maneiras de diagramar um dashboard, não existe uma regra rígida.</p>
    <p>Porém, é imprescindível ter consciência que a leitura do dashboard deve ser intuitiva e de fácil compreensão para ter a utilidade almejada.</p>
  </div>
</div>

 <div class="row align-items-center pt-4">
    <!-- Imagem 1 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/blackgold.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/dashblackfig.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>

    <!-- Imagem 2 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/dashgreengoldnew.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/dashgreenewfig.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>
  </div>
  <p class="fs-2 pt-1"></p>

  <div class="text-start">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-3 fw-bolder pt-3">04. Plataformas e Ferramentas</p>
  <div class="fs-5">
    <div class="fs-4">
      <p>Para conseguirmos chegar ao objetivo visual almejado, podemos utilizar diversas plataformas existentes.</p>
      <p>Eu gosto de utilizar o Figma e o Canva, pois consigo criar a "tela de fundo" para o dashboard e adicionar ao layout.</p>
      <p>Podemos testar algumas alternativas até encontrarmos a que irá satisfazer o trabalho.</p>
      <p>Só é preciso ter cuidado para não "viajar" demais e perder o prazo da entrega, rsrsrs!</p>
    </div>
  </div>
  </div>

 <div class="row align-items-center pt-4">
    <!-- Imagem 1 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/emptygold.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/dashemptyfig.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>

    <!-- Imagem 2 -->
    <div class="col-12 col-md-6">
      <div class="image-container">
        <img src="assets/images/dashcanva.png" class="img-fluid rounded custom-img" alt="cupcake morango" (click)="expandImage('assets/images/dashfig.png')">
        <p class="fs-2 pt-1"></p>
      </div>
    </div>
  </div>
  <p class="fs-2 pt-1"></p>

<!-- Modal para exibir a imagem ampliada -->
<div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
<div class="modal-content" (click)="$event.stopPropagation()">
  <span class="close-btn" (click)="closeModal()">&times;</span>
  <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
  <!-- Botão para abrir o link, se houver um link associado -->
<div *ngIf="selectedLink" class="text-center fw-bold pt-2">
    <button class="btn btn-primary" (click)="openExternalLink()">CLICK ME</button>
  </div>
</div>
</div>
<p class="fs-2 pt-1"></p>
<p class="fs-1 pt-1"></p>

  <div class="text-center">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-2 fw-bolder pt-3">Conclusão</p>
  <div class="fs-5">
    <p class="fs-2 pt-1"></p>

  <div class="text-start">
  <div class="fs-5">
    <div class="fs-4">
      <p>Este estudo de caso foi interessante pois pude colocar em prática o que aprendi com os cursos de Power BI que realizei.</p>
      <p>Análise de Dados engloba um universo fascinante, complexo, necessário e extremamente útil para todos os setores imagináveis.</p>
      <p>Durante a minha trajetória acadêmica, tive a oportunidade de estudar Big Data, utilizando Python e suas bibliotecas como NumPy, Pandas, Matplotlib, entre outras.</p>
      <p>Na sequência do meu portfólio, vou organizar, de forma resumida, os conhecimentos mais relevantes que adquiri nos últimos anos.</p>
      <p>Cada projeto desenvolvido, curso realizado e estudo de caso tem um sabor especial, rsrsrs!</p>
      <p>Os dashboards que construí com os cursos da Hashtag Treinamentos e da Xperiun estarão por aqui e os aprendizados com o curso de Python, com abordagem de ML, também.</p>
      <p>Ao final, deixarei disponível um vídeo com uma apresentação de um estudo de caso para Análise de Inteligência de Mercado.</p>
      <p>Bora lá!</p>
  </div>
    </div>
  </div>

  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>

<div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">Power BI - Hashtag Treinamentos</p>
    <p class="fs-3">Curso Online Intensivo</p>
    <p class="fs-4">Criação de 4 Dashboards acompanhando as aulas.</p>
  <p class="fs-5">
<p class="fs-2 pt-1"></p>

    <div class="row align-items-center">
      <!-- Container da Imagem -->
      <div class="d-flex justify-content-center">
      <div class="image-container">
        <img src="assets/images/certpbihash.png" class="img-fluid rounded static-image" alt="cupcake morango"
        (click)="expandImage('assets/images/certpbihash.png')"> <!-- Clique para expandir a imagem -->
      </div>
      </div>
    </div>
    <p class="fs-2 pt-1"></p>

<div class="text-start">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-3 fw-bolder pt-3">Desafio & Objetivo</p>
<div class="fs-5">
  <div class="fs-4">
    <p>O objetivo deste curso era a introdução ao aprendizado de Análise de Dados utilizando Power BI.</p>
    <p>O desafio de cada uma das aulas era a criação de um Dashboard com temas bastante utilizados no mercado de trabalho real.</p>
    <p>Foram 4 aulas e 4 Dashboards criados, com o tutorial explicado passo a passo online e com o material em PDF disponibilizado pela plataforma.</p>
    <p>O resultado pode ser conferido a seguir!</p>
  </div>
</div>
</div>

<!-- CARDÁPIO -->
 <div class="row row-cols-2 row-cols-md-4 g-4 pt-4">
  <div class="col" *ngFor="let item of benchmarkingItems">
    <div class="card c-benchmarking">
      <img
        [src]="item.image"
        class="card-img-left benchmarking"
        alt="{{ item.title }}"
        (click)="expandImage(item.image, item.linkUrl)">
      <div class="card-body text-center">
        <p class="card-title">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>
<p class="fs-2 pt-1"></p>
<p class="fs-2 pt-1"></p>

  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>

<div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">Power BI - Xperiun</p>
    <p class="fs-3">Minicurso Intensivo</p>
    <p class="fs-4">Compreensão dos pilares da Análise de Dados e criação de um Dashboard.</p>
  <p class="fs-5">
<p class="fs-2 pt-1"></p>

    <div class="row align-items-center">
      <!-- Container da Imagem -->
      <div class="d-flex justify-content-center">
      <div class="image-container">
        <img src="assets/images/minicert.png" class="img-fluid rounded static-image" alt="cupcake morango"
        (click)="expandImage('assets/images/minicert.png')"> <!-- Clique para expandir a imagem -->
      </div>
      </div>
    </div>
    <p class="fs-2 pt-1"></p>

<div class="text-start">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-3 fw-bolder pt-3">Desafio & Objetivo</p>
<div class="fs-5">
  <div class="fs-4">
    <p>O objetivo deste Minicurso era a compreensão dos pilares de Análise de Dados utilizando Power BI.</p>
    <p>O desafio final era a criação de um Dashboard acompanhando as aulas.</p>
    <p>Esse curso está disponível, de forma gratuita, na plataforma Xperiun.</p>
    <p>Abaixo, podemos conferir o belo Dashboard criado durante o Minicurso.</p>
  </div>
</div>
</div>

<p class="fs-2 pt-1"></p>
<p class="fs-2 pt-1"></p>

    <div class="row align-items-center">
      <!-- Container da Imagem -->
      <div class="d-flex justify-content-center">
      <div class="image-container">
        <img src="assets/images/dashxperiun.png" class="img-fluid rounded static-image" alt="cupcake morango"
        (click)="expandImage('assets/images/dashxperiun.png')"> <!-- Clique para expandir a imagem -->
      </div>
      </div>
    </div>
<p class="fs-2 pt-1"></p>
<p class="fs-2 pt-1"></p>

  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>

<div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">EduTech - Consultoria & IA</p>
    <p class="fs-3">Análise de Inteligência de Mercado</p>
    <p class="fs-4">Estudo de Caso como desafio para a empresa fictícia EduTech.</p>
  <p class="fs-5">

<div class="text-start">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-3 fw-bolder pt-3">Desafio & Objetivo</p>
<div class="fs-5">
  <div class="fs-4">
    <p>O objetivo era o desenvolvimento do Estudo de Caso a partir do texto fornecido como proposta, sem dados quantitativos para o Dashboard.</p>
    <p>O desafio era criar uma pequena apresentação de 5 minutos, em 5 slides.</p>
    <p>Desenvolvi utilizando Canva e Power Point.</p>
    <p>O resultado pode ser conferido clicando nas imagens abaixo.</p>
  </div>
</div>
</div>

<!-- CARDÁPIO -->
<div class="row row-cols-2 row-cols-md-2 g-2 pt-4">
<div class="col" *ngFor="let item of frontbackItems">
  <div class="card c-frontback">
    <img
      [src]="item.image"
      class="card-img-left frontback"
      alt="{{ item.title }}"
      (click)="expandImage(item.image, item.linkUrl)">
    <div class="card-body text-center">
      <p class="card-title">{{ item.title }}</p>
    </div>
  </div>
</div>
</div>

<button
  *ngIf="showScrollToTop"
  (click)="scrollToTop()"
  class="scroll-to-top-circle">
  ↑
</button>

  <p class="fs-2 pt-1"></p>
  <p class="fs-2 pt-1"></p>

